{{!-- <!-- This is the modal -->
<div id="my-id" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Article Title</h2>
        <button class="uk-modal-close" type="button">Save</button>
    </div>
</div> --}}