<nav>
    <a href="/" class="uk-icon-button uk-button-secondary" uk-icon="home"></button>
    <a href="/articles" class="uk-icon-button uk-button-secondary" uk-icon="album" id="articles"></a>
    {{#if scrape}}
    <button id="scrape" class="uk-icon-button uk-button-secondary" uk-icon="refresh"></button>
    {{/if}}
</nav>