{{> nav }}
<h1>{{title}}</h1>
<div class="uk-cover-container uk-height-large">
    <canvas width="" height=""></canvas>
    <img src="/images/java2.jpg" alt="java" uk-cover>
</div>

{{!-- {{> modal }} --}}
<div id="modalContainer"></div>
<div id="articlesContainer">
{{> articles }}
</div>